<html>
    <head>
        <title>Keely's Bloggo</title>
    </head>
    <body>
        <div>
            <h1><a href="">My Bloggo</a></h1>
        </div>

        <div>
            <p>published: 19.07.2017, 12:14</p>
            <h2><a href="">Welcome to My A1 Blog</a></h2>
            <p>What's up kids</p>
        </div>

        <div>
            <p>published: 19.07.2017, 12:14</p>
            <h2><a href="">This Took Too Long</a></h2>
            <p>The initial development of this blog was, in its entirety, an absurdly long, tedious, and time-consuming task that took place over the course of two entire days that I will never get back and one day regret on my deathbed.</p>
        </div>
    </body>
</html>
